.desc{
    text-align: center;
}
.text-box{
    border: 1px solid;
    color: rgb(248, 219, 219);
    margin-left: 3px;
    margin-right: 3px;
}
.text{
    color: black;

}
.desc h2{
    font-weight: bold;
    text-align: center;
}