ion-content {
    --background: rgb(0, 204, 255);
   }
.flex{
    display: flex;
    justify-content: center;
}
.image-box{
    height: 110px;
    width: 110px;
    border-radius: 50%;
    overflow: hidden;
}
.border-white{
    border: 4px solid;
    width: fit-content;
    border-radius: 50%;
    color: white;
}
.border-bleu{
    border: 6px solid #006bbf;
    width: fit-content;
    border-radius: 50%;
}
